dialog {
  background: gray;
  border: 5px solid black;
  border-radius: 12px;
  display: none;
  height: 250px;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  position: fixed;
  top: 20%;
  width: 500px;
}

dialog[open] {
  display: block;
}